{% extends 'base.html' %}

{% block head %}
<title xmlns="http://www.w3.org/1999/html">About Me</title>
{% endblock %}


{% block body %}
<h2>Coding Samples</h2>
<ul>
    <li>Python</li>
    <ul>
        <li>English to Pig Latin Translation</li>
        <li>Pig Latin to English Translator</li>
        <li>Paycheck Calulator</li>
        <li>This Website</li>
        <li>
            <a href="https://github.com/mathcoder3141/todo">
                To-Do List
            </a>
        </li>
    </ul>
</ul>
<ul>
    <li>C++</li>
    <ul>
        <li>
            <a href="https://github.com/mathcoder3141/cpp-programs/blob/master/Countdown%20Clock.cpp">
            Countdown Clock
            </a>
        </li>
        <li>
            <a href="https://github.com/mathcoder3141/cpp-programs/blob/master/BaseSystem.cpp">
            Number Base System Converter
            </a>
        </li>
        <li>
            <a href="https://github.com/mathcoder3141/cpp-programs/blob/master/QuadRoots.cpp">
            Quadratic Roots
            </a>
        </li>
        <li>
            <a href="https://github.com/mathcoder3141/cpp-programs/blob/master/Strings%20for%20days.cpp">
            Strings, Strings, Strings
            </a>
        </li>
        <li>
            <a href="https://github.com/mathcoder3141/cpp-programs/blob/master/NewtonsMethod.cpp">
            Square Root using Newton's Method
            </a>
        </li>
    </ul>
</ul>
<h2>Data Projects</h2>
<ul>
    <li>
        <a href="https://github.com/mathcoder3141/LA-Code-Test/blob/master/E-Learning_Analysis.ipynb">
            Linux Academy User Analysis
        </a>
    </li>
    <li>
        <a href="https://github.com/mathcoder3141/predicting-car-prices/blob/master/Predicting_Car_Prices.ipynb">
            Predicting Car Prices
        </a>
    </li>
    <li>Custom Hints Analysis*</li>
    <li>Promo Profile Analysis*</li>
    <li>First Day/First Week Exploratory Analysis*</li>
    <li>2019 Outcomes Survey*</li>
</ul>

* Denotes professional work; no sample available.

{% endblock %}