{% extends 'base.html' %}

{% block head %}
<title xmlns="http://www.w3.org/1999/html">Writings</title>
{% endblock %}

{% block body %}

<h1><center>Writings</center></h1>
<br>
<br>
<h3><a href="https://www.dataquest.io/blog/math-in-data-science/">Math In Data Science</a></h3>
<i>Written for the Dataquest blog. Appeared on Hacker News, on Reddit, and appeared in Python Weekly</i>
<br>
In this post, we explore what it means to do data science and talk about just how much math you need to know
to get started.
<hr>
<h3><a href="https://www.dataquest.io/blog/tutorial-python-scripts-command-line/">
Tutorial: Transforming Data with Python Scripts and the Command Line
</a></h3>
<i>Written for the Dataquest blog. Appeared in Python Weekly</i>
<br>
In this Python scripting tutorial, we learn how to transform data using Python scripts and the command line.
<hr>
<h3><a href="https://medium.com/@mathman3141/eliminating-errors-in-sql-7aff66a3addd">
Eliminating Errors in SQL
</a></h3>
<i>Written for my personal blog</i>
<br>
In this blog about SQL, we delve into some ways that you can get errors while writing SQL statements, and how you can
avoid those errors.
<hr>
<h3><a href="https://medium.com/@mathman3141/its-not-hard-it-s-just-new-1c4c14f74f1">
It's not hard; just new
</a></h3>
<i>Written for my personal blog</i>
<br>
In this blog, we talk about how why things seem hard and get easier over time.
{% endblock %}